/**
 * My custom admin stylesheet
*/

@import "alerts.scss";

/* Data Grid
================================================== */
#data-grid {

	thead th {
		border-bottom:0;

		&:first-child {
			text-align: center;
		}
		&.sortable {
			cursor: pointer;
			*cursor: hand;
			position: relative;
			&:before {
				content: '\f0dc';
				font-family: FontAwesome;
				text-decoration: inherit;
				position: absolute;
				top: 8px;
				right: 8px;
			}
			&.asc:before { content: '\f0dd'; }
			&.desc:before { content: '\f0de'; }
		}
	}
	tbody td {

		vertical-align: middle;

		&:first-child {
			text-align: center;
		}

		&.no-results {
			padding:32px 0;
			vertical-align: middle;
		}

	}
}

/* Call Outs
================================================== */
.callout {

	border-left:4px solid $brand-warning;
	padding:8px 16px;

	p {
		font-style: italic;
		font-size:1em;
		line-height: 1.6em;
	}
}

// Responsive =================================================================

@media (max-width:767px) {

	.base {

		padding-left:0px;

		.sidebar {
			left:-248px;
		}

		&.base--collapse {
			padding-left:240px;
		}

		&.base--collapse .sidebar {
			left:0;

			.navigation--sidebar {
				visibility:visible;
			}
		}
	}
}
