#map-canvas{
	width: 100%;
	height: 505px;
}
.redirect-to{
	cursor: pointer;
}
.popup-row{
	padding: 10px 0 0;
}
.popup-row .left{
	float: left;
	/*max-width: 25%;*/
}
.popup-row .right{
	float: right;
	/*max-width: 25%;*/
}

.popup-row .form-group.add-files{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
	display: block;
}
.popup-row .form-group.add-files .files-holder{
	overflow: hidden;
	padding: 0 4px;
}
.popup-row .form-group.add-files input{
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-inline .form-group.form-textarea{
	padding: 10px 0 0;
	overflow: hidden;
	width: 100%;
	display: block;
}
.form-inline .form-group.form-textarea textarea{
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (max-width: 640px){
	.popup-row .left,
	.popup-row .right{
		max-width: none;
		margin: 0;
	}
	.popup-row .form-group.add-files .files-holder{
		padding: 0;
	}
	.popup-row .form-group.add-files{
		overflow: hidden;
		padding: 4px 0 0;
		width: 100%;
	}
	.form-inline .form-group.form-textarea{
		padding: 5px 0 0;
	}
}

.overlay-form{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	z-index: 10;
}
.with-overlay{
	position: relative;
}
.label-default{
	background-color: #777777 !important;
}


@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}
.saving {
	font-size: 17px;
}
.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}