#map-canvas {
    width: 100%;
    height: 500px;
}

.label-default {
    background-color: #777777 !important;
}

.loader-anim {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: #000;
    opacity: 0.35;
    z-index: 999;
}

.loader-anim .loader-anim-spinner {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    margin-left: -15px;
    margin-top: -30px;
}