.contractor-merge-table > tbody > tr > td {
    padding: 4px;
    vertical-align: top !important;
}

.contractor-merge-table > tbody > tr > td .col-md-3 {
    padding: 0px;
}

.bg-gray {
    background-color: #f5f5f5;
}