#map-canvas{
	width: 100%;
	height: 500px;
}
.route-icon {
	display: block;
	background-size: 19px 630px;
	left: 0;
	width: 16px;
	height: 16px;
	background-image: url(http://maps.gstatic.com/tactile/directions/text_mode/maneuvers-2x.png);
	vertical-align: top;
	float: left;
}
.route-icon.roundabout-left {
	background-position: 0 -197px
}

.route-icon.turn-left {
	background-position: 0 -413px
}

.route-icon.turn-sharp-left {
	background-position: 0 0
}

.route-icon.turn-slight-left {
	background-position: 0 -378px
}

.route-icon.uturn-left {
	background-position: 0 -305px
}

.route-icon.fork-right {
	background-position: 0 -499px
}

.route-icon.ramp-right {
	background-position: 0 -429px
}

.route-icon.roundabout-right {
	background-position: 0 -232px
}

.route-icon.turn-right {
	background-position: 0 -483px
}

.route-icon.turn-sharp-right {
	background-position: 0 -582px
}

.route-icon.turn-slight-right {
	background-position: 0 -51px
}

.route-icon.uturn-right {
	background-position: 0 -35px
}
.panel-heading{
	padding: 0 !important;
	background-color: rgb(238, 238, 238) !important;
}
.panel-heading a{
	padding: 10px 15px;
	display: block;
}
.panel-heading a:hover, .panel-heading a:focus{
	text-decoration: none;
}
.route-text i{
	color: #2967B4;
}
.route-distance{
	color:#8B8B8B;
}
.route-distance.padding-top{
	padding-top: 5px;
}

/* cartodb popups fix */
div.cartodb-popup div.cartodb-popup-content-wrapper{
	width: 226px;
	min-width: 226px;
}

#start-point{
	background-image: url('../img/icons/1436369218_Map-Marker-Marker-Outside-Chartreuse.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}