.profile-nav {
    margin-bottom: 15px !important;
    padding-left: 0;
    list-style: none;
    background: #ffffff;
}

.profile-nav > li {
    position: relative;
    display: block;
}

.profile-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.profile-nav > li > a:hover {
    background-color: #2780e3 !important;
    color: #ffffff;
}

.profile-nav > li.disabled > a:hover {
    color: #999;
    text-decoration: none;
    background-color: transparent !important;
    cursor: not-allowed;
}