.push-top-5 {
    margin-top: -5px;
}

.parsley-help-block {
    color: #ff0039;
}

input[type=radio], input[type=checkbox] {
    margin-left: 0px !important;
}

#files-block .loader {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: none;
    float: right;
    height: 30px;
    margin-left: 15px;
    position: relative;
    width: 30px;
}

#files-block .loader .sk-circle {
    height: 30px;
    position: static;
    width: 30px;
}