#data-grid-added tbody td.no-results {
	padding: 32px 0;
	vertical-align: middle;
	text-align: center;
}
@media (min-width: 768px){
	.navbar-right {
		margin-right: 0 !important;
	}
	.navbar-form.navbar-right {
		margin-right: -60px !important;
	}
}
#data-grid-added thead th.sortable {
	cursor: pointer;
}
#data-grid-added thead th.sortable:after {
	display: none;
	content: '\f0dc';
	font-family: FontAwesome;
	text-decoration: inherit;
	padding: 0 0 0 5px;
}
#data-grid-added thead th.sortable.desc:after {
	content: '\f0de';
	display: inline;
}
#data-grid-added thead th.sortable.asc:after {
	content: '\f0dd';
	display: inline;
}