.home-dashboard{min-height:400px}.homebox{margin:0px;float:left}.homebox ul{list-style:none;margin:0px}.homebox li{position:relative;font-size:20px;text-align:center}.signup-modal-body{min-height:150px}