.ext-profiles .table {
    font-size: 15px;
}

@media (min-width: 992px) {
    .ext-profiles .border-right {
        border-right: 1px solid #ddd;
    }
    .ext-profiles .border-left {
        border-left: 1px solid #ddd;
    }
    .ext-profiles .row-table {
        display: table;
    }

    .ext-profiles .row-table .col-panel {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}
.ext-profiles .w100 {
    width: 100%;
}

.ext-profiles .none {
    display: none;
}

.ext-profiles .under-none {
    text-decoration: none !important;
}

.ext-profiles .no-padding {
    padding: 0;
}

.ext-profiles .table-details .row>.col-md-3:nth-child(even) {
    padding: 0;
}
.ext-profiles .table-details .col-md-9 {
    padding: 0;
}

.ext-profiles .table-details .col-md-2 {
    padding: 0 10px;
}

.ext-profiles .table-details .col-md-4 {
    padding: 0 25px;
}

.ext-profiles .table-details .col-md-10 {
    padding: 0 25px;
}

.ext-profiles .text14 {
    font-size: 14px;
    font-weight: normal;
}

.ext-profiles .panel-heading .container-fluid{
    padding:0px;
}
.daterangepicker,
.daterangepicker .btn{
    font-weight: bold;
}

.ext-profiles .table td:not(.td-label) {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    box-sizing: border-box;
}

#content-form-modal .table td:not(.td-label) {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    box-sizing: border-box;
}
.ext-profiles th.projects-checkbox-head{
    width:30px;
}

.ext-profiles .row-pad-tb {
    margin-bottom: 10px;
    margin-top: -15px;
}

.ext-profiles .title-brand {
    color: #5e5e5e;
    font-size: 19px;
}

#project-contractors-modal .col-md-5,
#project-contractors-modal .col-md-7,
#project-contractors-modal .col-md-3{
    padding-left: 5px;
    padding-right: 5px;
    word-break:initial;
}

.ext-profiles .row>div>.navbar-brand {
    font-weight: bold;
}

.ext-profiles .pre-spaces {
    padding-left: 1em;
}
.ext-profiles .panel-body.projects-grid{
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom: 0px;
}
.ext-profiles #create-new-project[disabled]{
    opacity: 0.5;
}

.ext-profiles .under-navbar{
    float:left;
    margin-top:10px;
    margin-bottom: 10px;
}
.ext-profiles .text-bold{
    font-weight: bold;
}

.ext-profiles #map-selected button {
    padding: 10px 7px;
}

.ext-profiles .label {
    display: inline-block;
    vertical-align: top;
    padding: 5px 7px;
}

.ext-profiles table.table tbody>tr>td {
    vertical-align: middle;
    height: 0px;
}

.ext-profiles .ml10 {
    margin-left: 10px;
}

.modal .ml10 {
    margin-left: 10px;
}

.ext-profiles .col-vcenter {
    line-height: 43px;
}

.ext-profiles .fa {
    line-height: unset;
}

.ext-profiles .size35 {
    font-size: 35px;
}

.ext-profiles .bootstrap-switch * {
    white-space: nowrap;
}
.ext-profiles #project-tags-list{
    height: 43px;
}
.ext-profiles .tag{
    background: #cccccc none repeat scroll 0 0;
    border: 0 solid rgba(0, 0, 0, 0);
    color: #333333;
    margin: 0 3px 3px 0;
    padding: 1px 3px;

}
.ext-profiles .selectize-input {
    min-height: 43px;
    border-radius: 0px;
}

.selectize-input + .select2 .select2-selection {
    height: 43px;
    border-radius: 0px;
    overflow-x: auto;
}
.ext-profiles .form-group .selectize-control.multi .selectize-input > div {
    padding: 0 10px;
}
.ext-profiles .form-group .selectize-input {
    line-height: 32px;
}

.ext-profiles .page-break {
    page-break-after:always;
}
.ext-profiles #information .page-break {
    display: inline-block;
    width: 100%;
}

.ext-profiles .col-md-1-5 {
    width: 12%;
}

.ext-profiles .margin-hor-sides {
    margin: 0 10px;
}

.ext-profiles .w300 {
    width: 300px;
}

.ext-profiles .mt25 {
    margin-top: 25px;
}

.ext-profiles .mb15 {
    margin-bottom: 15px;
}

.ext-profiles .text-right {
    text-align: right;
}

.ext-profiles .text-center {
    text-align: center;
}
.modal-body .panel-footer{
    background-color: #fff;
}
.ext-profiles .mrg-btm-10{
    margin-bottom: 10px;
}
.ext-profiles #project_contractor ~ .tt-menu{
    margin-top:15px;
}

.ext-profiles #project_tags_submit,
.ext-profiles #tags_clear
{
    height: 43px;
}

.ext-profiles #follow_up_date,
.ext-profiles #follow_up_clear{
    height: 44px;

}

.ext-profiles .projects-search-section .btn-default {
    height: 43px;
}

.ext-profiles .btn-h43 {
    height: 43px !important;
}

.ext-profiles .well{
    overflow: auto;
    height: 550px;
}
.ext-profiles .dashboard-filter>div{
    padding:0px !important;
}
.ext-profiles .dashboard-filter>div:first-child{
    padding-right:10px !important;
}
.ext-profiles #stage-dropdown{
    height: 90px;
    overflow-x: auto;
    min-height: 280px;
}

.ext-profiles ul.dropdown-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

.ext-profiles ul.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
#address-form.create  .btn-danger,
#phone-form.create .btn-danger,
#email-form.create .btn-danger,
#notes-form.create .btn-danger,
#license-form.create .btn-danger,
#company-form.create .btn-danger{
    display:none;
}

.ext-profiles #information .w80px {
    display: inline-block;
}
.ext-profiles .w80px {
    width: 80px;
}
.ext-profiles #information .w80px + div {
    display: inline;
    width: initial;
}
.ext-profiles .details-value {
    display: inline-block;
    width: 180px;
}
.ext-profiles .flex {
    display: flex;
}
.ext-profiles #status-switch,
.ext-profiles #active-switch
{
    margin-right: 15px;
}
.ext-profiles .project-info {
    display: block;
    float: left;
}
.ext-profiles .contractor-info {
    display: block;
    float: left;
}
.swal2-modal .swal2-radio label {
    display: block;
    font-size: 18px;
    margin: 0 45px !important;
    text-align: left;
    width: 370px;
}
.ext-profiles #status-switch>.control-label,
.ext-profiles #active-switch>.control-label
{
    margin-right:10px;
}

.ext-profiles .pie-chart {
    margin-left: -45px;
}
.ext-profiles .half-width,
.modal-dialog .half-width{
    width:49%;
    margin-left:1%;
    float:left;
}
.modal-dialog .label-height {
    padding-top: 21px;
}
.modal-dialog .half-width label{
    line-height:21px;
}

.ext-profiles .input-group.select-width{
    width:auto;
    margin-right:3px;
    margin-bottom:10px;
}
.ext-profiles .input-group.select-width .dropdown-menu{
    max-height: 250px;
    height: auto;
    overflow-x:auto;
}
.ext-profiles .panel-body.report-filters>form{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.ext-profiles .panel-body.report-filters .input-group-btn>button{
    padding: 10px 15px !important;
}
.ext-profiles .panel-body.report-filters~hr{
    margin-top:0px;
    margin-bottom:0px;
}
.ext-profiles .well.h-fixed{
    height:449px;
}
.ext-profiles .well.h-auto{
    height:auto;
    padding-top:0;
    padding-bottom:0;
}

.ext-profiles .well.h-auto .block-title{
    border-bottom: 1px solid #ddd;
}

.ext-profiles .well.h-auto .block-title>.navbar-brand {
    padding-left:0px;
    color:#777;
}

.ext-profiles .download-container>li>a{
    color: #777;
}
.ext-profiles .nav.download-container li>a:hover,
.ext-profiles .nav.download-container li.open>a,
.ext-profiles .nav.download-container li.open>a:hover,
.ext-profiles .nav.download-container li>a:focus,
.ext-profiles .nav.download-container li.open>a:focus
{
    color: #333;
    background-color:transparent!important;
}