.row-register > div:nth-child(n+3) {
    margin-top: 20px;
}

.has-error-important .help-block,
.has-error-important .control-label,
.has-error-important .radio,
.has-error-important .checkbox,
.has-error-important .radio-inline,
.has-error-important .checkbox-inline,
.has-error-important.radio label,
.has-error-important.checkbox label,
.has-error-important.radio-inline label,
.has-error-important.checkbox-inline label {
    color: #ff0039;
}
.has-error-important .form-control {
    border-color: #ff0039;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error-important .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error-important .input-group-addon {
    color: #ff0039;
    background-color: #f2dede;
    border-color: #ff0039;
}
.has-error-important .form-control,
.has-error-important .form-control:focus,
.has-error-important .input-group-addon {
    border: 1px solid #ff0039 !important;
}

.has-success-important .help-block,
.has-success-important .control-label,
.has-success-important .radio,
.has-success-important .checkbox,
.has-success-important .radio-inline,
.has-success-important .checkbox-inline,
.has-success-important.radio label,
.has-success-important.checkbox label,
.has-success-important.radio-inline label,
.has-success-important.checkbox-inline label {
    color: #3fb618;
}
.has-success-important .form-control {
    border-color: #3fb618;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success-important .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success-important .input-group-addon {
    color: #3fb618;
    background-color: #dff0d8;
    border-color: #3fb618;
}
.has-success-important .form-control-feedback {
    color: #3fb618;
}
.has-success-important .form-control,
.has-success-important .form-control:focus,
.has-success-important .input-group-addon {
    border: 1px solid #3fb618 !important;
}